.banner {
   
    background-color: rgb(30 58 43 );
    color: white;
    text-align: center;
    font-family: Poppins, sans-serif;
    padding: 0.31%;
    font-weight: 500;
    transition: transform 0.3s ease;
    font-size: 1rem;
    line-height: 1.75rem;
}

.banner:hover {
    transform: scale(1.06);
}
